// 

//
// This is the main file used by Framework targets on iOS.
// It gets included by {target}-ios.xcconfig
//



// Architectures
//
VALID_ARCHS[sdk=iphoneos*] = arm64 armv7
VALID_ARCHS[sdk=iphonesimulator*] = x86_64


// Deployment
//
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TARGETED_DEVICE_FAMILY = 1,2
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A


// Linking
//
OTHER_LDFLAGS = -ObjC
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/iOS $(PLATFORM_DIR)/Developer/Library/Frameworks
